@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&display=swap');

@font-face {
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 400;
  src: local('SF Pro Display Regular'), local('SFProDisplay-Regular');
}

@font-face {
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 590;
  src: local('SF Pro Display Semibold'), local('SFProDisplay-Semibold');
}

@font-face {
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 700;
  src: local('SF Pro Display Bold'), local('SFProDisplay-Bold');
}
